* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url(img/fundo.jpg); /* substitua pelo nome da sua imagem de fundo */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center; /* isso deixa a logo mais pra cima */
    height: 100%;
    width: 100%;

}

.login-box {
    background: linear-gradient(to top, #FFD81F, #91995F);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}

.logo {
    width: 150px;
    margin-bottom: 30px;
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    
}

label {
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    color: #333;
    margin: 15px 0 0px;
}

input {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #aaa;
    font-size: 14px;
}

button {
    padding: 12px;
    background-color: #00bfff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0099cc;
}

.link {
    font-size: 13px;
    color: #0077cc;
    text-decoration: none;
    margin-bottom: -5px;
     margin-top: 5px;
}

.link:hover {
    text-decoration: underline;
}

/* Fundo com imagem */
.background {
  background-image: url(img/fundo.jpg); /* sua imagem de fundo */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Container da tela de cadastro */
.cadastro-container {
  background: linear-gradient(180deg, #FFD700, #91995F); /* amarelo gradiente */
  border-radius: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 40px 30px;
  width: 350px;
  position: relative;
}

/* Botão de voltar (seta) */
.botao-voltar {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}


/* Logo */
.logo-cadastro {
  display: block;
  margin: 0 auto 20px;
  width: 120px;
}

/* Formulário */
.formulario-cadastro{
  gap: 7px;
}

.formulario-cadastro label {
  display: block;
  margin: 15px 0 0px;
  font-weight: bold;
}

.formulario-cadastro input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background: #e6e6e6;
  margin-bottom: 0px;
  margin-top: 0px;
}

/* Botão de criar conta */
.botao-cadastro {
  display: block;
  width: 100%;
  padding: 12px;
  background: linear-gradient(90deg, #00c9a7, #00e676);
  border: none;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-top: 37px;
}
